@{
	Layout = "LayoutAuth";
}
<title>@ViewData["Title"] - Index</title>

<div class="container">
	<div class="row">
		<div class="col-md-12 my-auto text-center">
			<div class="inline-block"><partial name="~/Views/Auth/Login.cshtml" /></div>
			<div class="inline-block"><partial name="~/Views/Auth/Register.cshtml" /></div>
			<div class="inline-block"><partial name="~/Views/Auth/ForgotPassword.cshtml" /></div>
		</div>
	</div>
</div>
